In [1]:
import mysql.connector as ms
connection=ms.connect(
     host="localhost",
     user="root",
     password="12da12"
)

my_cursor=connection.cursor()

In [17]:
# creates the databases
my_cursor.execute("create database manage")

In [18]:
# shows the databases
my_database_show=my_cursor.execute("show databases")
for i in my_cursor:
     print(i)

('database_demo',)
('information_schema',)
('manage',)
('management',)
('mydatabase',)
('mysql',)
('new_database_demo',)
('performance_schema',)
('sys',)

In [5]:
# ues the database
my_cursor.execute("use management")

InternalError: 1213 (40001): Deadlock found when trying to get lock; try restarting transaction

In [21]:
# creates the table in data base (management)
my_cursor.execute("create table customer_manage (name varchar(225), address varchar(225), age int(10))")

In [8]:
# shows the table
my_cursor.execute("show tables")

1

In [9]:
for i in my_cursor:
     print(i)

('customer',)

In [ ]:
# adding primary key with altger command in customer table
my_cursor.execute("alter table customer add column id int auto_increment primary key")

0

In [22]:
# inserting data into the customer table

data_insert = "insert into customer (name, address, age) VALUES (%s, %s, %s)"
data_values = [
  ('Peter', 'Lowstreet 4', 23),
  ('Amy', 'Apple st 652', 24),
  ('Hannah', 'Mountain 21', 55),
  ('Michael', 'Valley 345', 64),
  ('Sandy', 'Ocean blvd 2', 33),
  ('Betty', 'Green Grass 1', 35),
  ('Richard', 'Sky st 331', 20),
  ('Susan', 'One way 98', 21),
  ('Vicky', 'Yellow Garden 2', 25),
  ('Ben', 'Park Lane 38', 19),
  ('William', 'Central st 954', 22),
  ('Chuck', 'Main Road 989', 30),
  ('Viola', 'Sideway 1633', 34)
]

In [23]:
# executemany, executes multiple queries 

my_cursor.executemany(data_insert,data_values)

In [24]:
# commiting to connection 
connection.commit()

In [25]:
# select query to select all from the table
my_cursor.execute("select * from customer")

In [26]:
# fetchall query fetches all the data which is present in the table 
final_result=my_cursor.fetchall()
for i in final_result:
     print(i)

('Peter', 'Lowstreet 4', 23, 1)
('Amy', 'Apple st 652', 24, 2)
('Hannah', 'Mountain 21', 55, 3)
('Michael', 'Valley 345', 64, 4)
('Sandy', 'Ocean blvd 2', 33, 5)
('Betty', 'Green Grass 1', 35, 6)
('Richard', 'Sky st 331', 20, 7)
('Susan', 'One way 98', 21, 8)
('Vicky', 'Yellow Garden 2', 25, 9)
('Ben', 'Park Lane 38', 19, 10)
('William', 'Central st 954', 22, 11)
('Chuck', 'Main Road 989', 30, 12)
('Viola', 'Sideway 1633', 34, 13)
('Peter', 'Lowstreet 4', 23, 27)
('Amy', 'Apple st 652', 24, 28)
('Hannah', 'Mountain 21', 55, 29)
('Michael', 'Valley 345', 64, 30)
('Sandy', 'Ocean blvd 2', 33, 31)
('Betty', 'Green Grass 1', 35, 32)
('Richard', 'Sky st 331', 20, 33)
('Susan', 'One way 98', 21, 34)
('Vicky', 'Yellow Garden 2', 25, 35)
('Ben', 'Park Lane 38', 19, 36)
('William', 'Central st 954', 22, 37)
('Chuck', 'Main Road 989', 30, 38)
('Viola', 'Sideway 1633', 34, 39)
('Peter', 'Lowstreet 4', 23, 40)
('Amy', 'Apple st 652', 24, 41)
('Hannah', 'Mountain 21', 55, 42)
('Michael', 'Valley 345', 64, 43)
('Sandy', 'Ocean blvd 2', 33, 44)
('Betty', 'Green Grass 1', 35, 45)
('Richard', 'Sky st 331', 20, 46)
('Susan', 'One way 98', 21, 47)
('Vicky', 'Yellow Garden 2', 25, 48)
('Ben', 'Park Lane 38', 19, 49)
('William', 'Central st 954', 22, 50)
('Chuck', 'Main Road 989', 30, 51)
('Viola', 'Sideway 1633', 34, 52)

In [4]:
# we can also fetchall desire attributes from the table
my_cursor.execute("select name, address from customer")
for i in my_cursor:
     print(i)

('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')

In [27]:
my_cursor.execute("delete from customer_manage where id in (select id from customer_manage order by id desc limit 13)")

ProgrammingError: 1235 (42000): This version of MySQL doesn't yet support 'LIMIT & IN/ALL/ANY/SOME subquery'