In [37]:
import mysql.connector as ms
connection=ms.connect(
     host="localhost",
     user="root",
     password="12da12"
)

my_cursor=connection.cursor()

In [38]:
my_cursor.execute("show databases")
for i in my_cursor:
     print(i)

('information_schema',)
('management_demo',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [31]:
my_cursor.execute("create database management_demo")

In [39]:
my_cursor.execute("use management_demo")

In [40]:
my_cursor.execute("create table customer(name varchar(225 ), address varchar(225), age int(2))")

In [41]:
my_cursor.execute("show tables")

In [42]:
for i in my_cursor:
     print(i)

('customer',)

In [43]:
my_cursor.execute("alter table customer add column id int auto_increment primary key")

In [ ]:
# checks the columns name from the database columns
my_cursor.execute("select column_name from information_schema.columns where table_name='customer'")

In [ ]:
for i in my_cursor:
     print(i)

In [70]:
data_insertions="insert into customer (name, address, age) values (%s, %s, %s)"
data_values=[
  ('Peter', 'Lowstreet 4', 23),
  ('Amy', 'Apple st 652', 24),
  ('Hannah', 'Mountain 21', 55),
  ('Michael', 'Valley 345', 64),
  ('Sandy', 'Ocean blvd 2', 33),
  ('Betty', 'Green Grass 1', 35),
  ('Richard', 'Sky st 331', 20),
  ('Susan', 'One way 98', 21),
  ('Vicky', 'Yellow Garden 2', 25),
  ('Ben', 'Park Lane 38', 19),
  ('William', 'Central st 954', 22),
  ('Chuck', 'Main Road 989', 30),
  ('Viola', 'Sideway 1633', 34)
]

In [71]:
my_cursor.executemany(data_insertions, data_values)

In [106]:
connection.commit()

In [107]:
my_cursor.execute("select * from customer")

In [108]:
eniter_data=my_cursor.fetchall()

In [109]:
eniter_data

[('Peter', 'Lowstreet 4', 23, 1),
 ('Amy', 'Apple st 652', 24, 2),
 ('Hannah', 'Mountain 21', 55, 3),
 ('Michael', 'Valley 345', 64, 4),
 ('Sandy', 'Ocean blvd 2', 33, 5),
 ('Betty', 'Green Grass 1', 35, 6),
 ('Richard', 'Sky st 331', 20, 7),
 ('Susan', 'One way 98', 21, 8),
 ('Vicky', 'Yellow Garden 2', 25, 9),
 ('Ben', 'Park Lane 38', 19, 10),
 ('William', 'Central st 954', 22, 11),
 ('Chuck', 'Main Road 989', 30, 12),
 ('Viola', 'Sideway 1633', 34, 13)]

In [110]:
my_cursor.execute("select name, address from customer")

In [111]:
for i in my_cursor:
     print(i)

('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')