In [334]:
import mysql.connector as ms
connection=ms.connect(
     host="localhost",
     user="root",
     password="12da12"
)

my_cursor=connection.cursor()

In [335]:
my_cursor.execute("show databases")
for i in my_cursor:
     print(i)

('information_schema',)
('management_demo',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [336]:
my_cursor.execute("create database management_demo")

DatabaseError: 1007 (HY000): Can't create database 'management_demo'; database exists

In [39]:
my_cursor.execute("use management_demo")

In [40]:
my_cursor.execute("create table customer(name varchar(225), address varchar(225), age int(2))")

In [41]:
my_cursor.execute("show tables")

In [42]:
for i in my_cursor:
     print(i)

('customer',)

In [43]:
my_cursor.execute("alter table customer add column id int auto_increment primary key")

In [257]:
# checks the columns name from the database columns
my_cursor.execute("select column_name from information_schema.columns where table_name='customer'")

In [258]:
for i in my_cursor:
     print(i)

('address',)
('age',)
('branch',)
('id',)
('name',)

In [259]:
data_insertions="insert into customer (name, address, age) values (%s, %s, %s)"
data_values=[
  ('Peter', 'Lowstreet 4', 23),
  ('Amy', 'Apple st 652', 24),
  ('Hannah', 'Mountain 21', 55),
  ('Michael', 'Valley 345', 64),
  ('Sandy', 'Ocean blvd 2', 33),
  ('Betty', 'Green Grass 1', 35),
  ('Richard', 'Sky st 331', 20),
  ('Susan', 'One way 98', 21),
  ('Vicky', 'Yellow Garden 2', 25),
  ('Ben', 'Park Lane 38', 19),
  ('William', 'Central st 954', 22),
  ('Chuck', 'Main Road 989', 30),
  ('Viola', 'Sideway 1633', 34)
]

In [260]:
my_cursor.executemany(data_insertions, data_values)

In [261]:
connection.commit()

In [262]:
my_cursor.execute("select * from customer")

In [263]:
eniter_data=my_cursor.fetchall()

In [264]:
eniter_data

[('Peter', 'Lowstreet 4', 23, 183, None),
 ('Amy', 'Apple st 652', 24, 184, None),
 ('Hannah', 'Mountain 21', 55, 185, None),
 ('Michael', 'Valley 345', 64, 186, None),
 ('Sandy', 'Ocean blvd 2', 33, 187, None),
 ('Betty', 'Green Grass 1', 35, 188, None),
 ('Richard', 'Sky st 331', 20, 189, None),
 ('Susan', 'One way 98', 21, 190, None),
 ('Vicky', 'Yellow Garden 2', 25, 191, None),
 ('Ben', 'Park Lane 38', 19, 192, None),
 ('William', 'Central st 954', 22, 193, None),
 ('Chuck', 'Main Road 989', 30, 194, None),
 ('Viola', 'Sideway 1633', 34, 195, None)]

In [265]:
my_cursor.execute("select name, address from customer")

In [266]:
for i in my_cursor:
     print(i)

('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')

In [267]:
my_cursor.execute("select column_name from information_schema.columns where table_name='customer'")

In [268]:
for i in my_cursor:
     print(i)

('address',)
('age',)
('branch',)
('id',)
('name',)

In [269]:
new_column_data = "insert into customer (branch) values (%s)"
new_data = [
     ('technical',),
     ('QA',),
     ('web development',),
     ('technical',),
     ('technical',),
     ('developer',),
     ('QA',),
     ('data analyst',),
     ('java developer',),
     ('python developer',),
     ('technical',),     
     ('technical',),
     ('data analyst',)
]

In [271]:
my_cursor.executemany(new_column_data,new_data)

In [272]:
my_cursor.execute("select branch from customer")

In [273]:
for i in my_cursor:
     print(i)

(None,)
(None,)
(None,)
(None,)
(None,)
(None,)
(None,)
(None,)
(None,)
(None,)
(None,)
(None,)
(None,)
('technical',)
('QA',)
('web development',)
('technical',)
('technical',)
('developer',)
('QA',)
('data analyst',)
('java developer',)
('python developer',)
('technical',)
('technical',)
('data analyst',)

In [321]:
my_cursor.execute("create table persons_info(id int not null, name varchar(25), lastname varchar(25),  age int(10))")

In [322]:
my_cursor.execute("show tables")

In [323]:
for i in my_cursor:
     print(i)

('customer',)
('person',)
('person_info',)
('persons_info',)

In [ ]:
my_cursor.execute("alter table persons_info add primary key (id) ")

In [326]:
my_cursor.execute("alter table persons_info auto_increment = 1")

In [327]:
connection.commit()

In [328]:
person_data_query="insert into persons_info(id, name, lastname, age) values (%s, %s, %s, %s)"
person_data=[
     (1,'john','doe',23),
     (2,'nitin','panchal',50),
     (3,'ajay', 'chouhan', 34),
     (4,'rahul', 'kumar',39),
     (5,'akash', 'roy', 40)
]

In [ ]:
my_cursor.executemany(person_data_query, person_data)

In [330]:
my_cursor.execute("select * from persons_info")

In [331]:
all_person_data=my_cursor.fetchall()

In [332]:
all_person_data

[(1, 'john', 'doe', 23),
 (2, 'nitin', 'panchal', 50),
 (3, 'ajay', 'chouhan', 34),
 (4, 'rahul', 'kumar', 39),
 (5, 'akash', 'roy', 40)]

In [333]:
# adding a foreign key
my_cursor.execute("create table orders_info(order_id int not null auto_increment, order_number int not null, id int, primary key(order_id), foreign key(id) references persons_info(id))")

In [347]:
new_order_data="insert into orders_info(order_id ,order_number) values (%s, %s)"
values_data=[
     (10, 1231432),
     (11, 342322),
     (12, 142342),
     (13, 23422)
]

In [348]:
my_cursor.executemany(new_column_data, values_data)

ProgrammingError: Not all parameters were used in the SQL statement